<%- include('bootheader') -%>
<%- include('menubar') -%>
<Body background="/images/bg5.jpg">
</Body>
<div class="jumbotron">
        <h1>check your terminal/powershell to view weather information!</h1>

</div>

<%- include('bootfooter') -%>
